<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.products_name}}</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="!is_upcomming && product.flash_start_date" color="secondary">
    <ion-title class="sub-ion-title ion-text-center">
      <div class="div-time">
        <ion-icon name="clock" item-start></ion-icon> &nbsp;
        {{'Discount ends in'|translate}} :&nbsp;
        <app-timer [data]="product"></app-timer>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="product-detail-page">
  <div class="product-tags-top">
    <div class="product-tag-new" *ngIf="checkProductNew()">{{'New'|translate}}</div>
  </div>

  <div class="icons share-like">
    <ion-icon name="share" (click)="share()"></ion-icon>
    <ion-icon *ngIf="product.isLiked!=0" name="heart" (click)="clickWishList()"></ion-icon>
    <ion-icon *ngIf="product.isLiked==0" name="heart-empty" (click)="clickWishList()"></ion-icon>
  </div>
  <ion-slides class="product-slides" pager="true" [options]="sliderConfig">

    <ion-slide *ngIf="product!=null">
      <img src="{{config.imgUrl+product.products_image}}" (click)="zoomImage(config.imgUrl+product.products_image)">
    </ion-slide>
    <ion-slide *ngFor="let b of product.images" (click)="zoomImage(config.imgUrl+b.image)">
      <div>
        <img src="{{config.imgUrl+b.image}}">
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid class="product-detail-title">
    <ion-row>
      <div class="product-tags">
        <div class="product-tag-off" *ngIf="product.discount_price!=null">{{pDiscount()}}{{'OFF'|translate}}</div>
      </div>
      <!-- 2.0 updates -->

      <ion-col class="woo-price-group" size="12">
        <span *ngIf="!product.flash_start_date">
          <span class="product-price-normal" *ngIf="product.discount_price==null">{{product_price |curency}}</span>
          <span class="product-price-normal" *ngIf="product.discount_price!=null">{{discount_price |curency}}</span>
          <span class="product-price-normal-through"
            *ngIf="product.discount_price!=null">{{product_price |curency}}</span>
        </span>
        <span *ngIf="product.flash_start_date">
          <span class="product-price-normal">{{flash_price |curency}}</span>
          <span class="product-price-normal-through">{{product_price |curency}}</span>
        </span>

        <span class="product-outstock" *ngIf="cartButton=='outOfStock'">{{'Out of Stock'|translate}}</span>
        <span class="product-instock" *ngIf="cartButton=='addToCart'">{{'In Stock'|translate}}</span>
      </ion-col>

      <ion-col class="product-title" size="12">
        <h3>{{product.products_name}}
          <br>
          <small *ngFor="let c of product.categories; let i = index">{{c.categories_name}}<span
              *ngIf="product.categories.length!=i+1">,</span>&nbsp;</small>
        </h3>
        <!-- <p>{{'Likes'|translate}}&nbsp;({{product.products_liked}})</p> -->
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid class="product-detail-title">
    <ion-row>
      <div class="product-qty">
        <p>Minimum Order Qty : 2</p>
        <p>Carton Qty : 20</p>
      </div>
    </ion-row>
  </ion-grid>



  <ion-grid class="product-detail-content ion-no-padding"
    *ngIf="product.products_description!=null && product.products_description!=''">
    <ion-row class="top-icon-header heading">
      <ion-button fill="clear">
        <ion-icon slot="start" name="md-list"></ion-icon>
        {{'Product Description'|translate}}
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding:0 10px">
        <div class="product-description" [innerHTML]="product.products_description"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="product-detail-content ion-no-padding" *ngIf="product.attributes.length!=0">
    <ion-row class="top-icon-header heading">
      <ion-button fill="clear">
        <ion-icon slot="start" name="md-list"></ion-icon>
        {{'Techincal details'|translate}}
      </ion-button>
    </ion-row>



    <ion-row>
      <ion-col size="12" style="padding:0 10px">
        <div class="product-description" [innerHTML]="product.products_description"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-radio-group *ngFor=" let att of product.attributes">
      <ion-list-header>
        <ion-label>{{att.option.name}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor=" let val of att.values; let i = index">
        <ion-label>{{val.value+' '+val.price_prefix+val.price+' '+config.currency}}</ion-label>
        <ion-radio slot="start" [value]="val" [checked]="i==0" (ionSelect)="fillAttributes(val,att.option.id)">
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

 
<section class="cart-buttons">

<ion-button expand="block" color="secondary samplebutton" shape="round" (click)="selectSample()">
    {{'Order Sample Product'|translate}}</ion-button>
<ion-button expand="block" color="light moqbutton" shape="round" (click)="selectMoq()">
    {{'Order Min Order Qty'|translate}}</ion-button>

<ion-button expand="block" color="light cartonbutton" shape="round" (click)="selectCarton()">
    {{'Order Carton Qty'|translate}}</ion-button>

<ion-grid>
  <ion-row>
    
    <ion-col size="4"></ion-col>
    <ion-col size="4" shape="round" class="button-qty" >
            <div class="div-btn">
              <ion-button fill="clear" (click)="qunatityMinus()">
                <p>-</p>
              </ion-button>
              <span>1</span>
              <ion-button fill="clear" class="add-btn" (click)="qunatityPlus()">
                <p>+</p>
              </ion-button>
            </div>
    </ion-col>
    <ion-col size="4"></ion-col>
    
  </ion-row>
</ion-grid>

</section>

</ion-content>
<ion-footer class="product-detail-footer">

  <ion-button expand="full" color="secondary" *ngIf="cartButton=='addToCart' && !is_upcomming"
    (click)="addToCartProduct()">
    {{'Add to Cart'|translate}}</ion-button>
  <ion-button expand="full" color="danger" *ngIf="cartButton=='outOfStock' && !is_upcomming">
    {{'OUT OF STOCK'|translate}}</ion-button>
  <ion-button expand="full" color="secondary" *ngIf="cartButton=='external' && !is_upcomming"
    (click)="openProductUrl()">
    {{'VIEW PRODUCT'|translate}}</ion-button>

  <ion-button expand="full" color="danger" *ngIf="is_upcomming">{{'Up Coming'|translate}}</ion-button>
</ion-footer>