<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Order'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-card-header>
      <h4>{{'Shipping Address'|translate}}</h4>
    </ion-card-header>
    <ion-card-content>
      {{orderDetail.delivery_street_address+', '+orderDetail.delivery_city+', '+orderDetail.delivery_state+'
      '+orderDetail.delivery_postcode+',
      '+orderDetail.delivery_country}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Billing Address'|translate}}</h4>
    </ion-card-header>
    <ion-card-content>
      {{orderDetail.billing_street_address+', '+orderDetail.billing_city+', '+orderDetail.billing_state+'
      '+orderDetail.billing_postcode+',
      '+orderDetail.billing_country}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Shipping Method'|translate}}</h4>
    </ion-card-header>
    <ion-card-content>
      {{orderDetail.shipping_method}}
    </ion-card-content>
  </ion-card>

  <ion-card class="order-product">
    <ion-card-header>
      <h4>{{'Products'|translate}}</h4>
    </ion-card-header>
    <ion-card-content *ngFor="let product of products">
      <ion-row class="row-product">
        <ion-col>
          <h3>{{product.products_name}}
            <br>
            <small>{{product.categories_name}}</small>
          </h3>
        </ion-col>
      </ion-row>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="{{config.imgUrl+product.image}}">
        </ion-thumbnail>
        <ion-label>
          <ion-row>
            <ion-col class="ion-text-left" size="6">{{'Price' |translate}}&nbsp;:&nbsp;</ion-col>
            <ion-col class="ion-text-right" size="6">{{product.price| curency}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-left" size="6">{{'Quantity'|translate}}&nbsp;:&nbsp;</ion-col>
            <ion-col class="ion-text-right" size="6">{{product.customers_basket_quantity}}</ion-col>
          </ion-row>

          <ion-row *ngFor="let att of product.attributes">
            <ion-col size="6">{{att.products_options_values+'&nbsp;'+att.products_options}}&nbsp;:</ion-col>
            <ion-col size="6">{{att.price_prefix +'&nbsp;'+ att.options_values_price+'&nbsp;'+config.curency}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-left" size="6">
              <strong>{{'Total' |translate}}</strong>&nbsp;:&nbsp;</ion-col>
            <ion-col class="ion-text-right" size="6">
              <strong>{{product.total | curency}}</strong>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{'SubTotal'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Products Price'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{productsTotal| curency}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Tax'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{orderDetail.total_tax| curency}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Shipping Cost'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{orderDetail.shipping_cost| curency}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="couponApplied == 1">
        <ion-col size="6">
          {{'Discount'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{discount| curency}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <strong>{{'Total'|translate}}</strong>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <strong>{{totalAmountWithDisocunt| curency}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let coupon of couponArray">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Coupon Code'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{coupon.code}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Coupon Amount'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{coupon.amount}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="coupon.discount_type == 'percent'">
          {{'A percentage discount for the entire cart'|translate}}
        </ion-col>
        <ion-col size="12" *ngIf="coupon.discount_type == 'fixed_cart'">
          {{'A fixed total discount for the entire cart'|translate}}
        </ion-col>
        <ion-col size="12" *ngIf="coupon.discount_type == 'fixed_product'">
          {{'A fixed total discount for selected products only'|translate}}
        </ion-col>
        <ion-col size="12" *ngIf="coupon.discount_type == 'percent_product'">
          {{'A percentage discount for selected products only'|translate}}
        </ion-col>
        <ion-col size="12">
          <ion-button size="small" color="secondary" (click)="deleteCoupon(coupon.code)">{{'Remove'|translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="{{'coupon code'|translate}}" [(ngModel)]="c"></ion-input>
          <ion-button fill="clear" item-end (click)="getCoupon(c)">{{'Apply'|translate}}</ion-button>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="!config.appInProduction" size="small" fill="clear" (click)="couponslist()">
    {{'Coupon Codes List'|translate}}</ion-button>

  <ion-card>
    <ion-card-header>
      {{'Order Notes'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="{{'Note to the buyer'|translate}}" name="note"
          [(ngModel)]="orderDetail.comments"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label color="dark">{{'Payment'|translate}}</ion-label>
          <ion-select [(ngModel)]="orderDetail.payment_method" (ionChange)=" paymentMehodChanged()"
            okText="{{'ok'|translate}}" cancelText="{{'Cancel'|translate}}">
            <div *ngFor="let p of paymentMethods">
              <ion-select-option *ngIf="p.active==1" [value]="p.method">{{p.name}}</ion-select-option>
            </div>
            <!-- <ion-select-option value="simplePaypal" *ngIf="paymentPaypal">{{'Paypal'|translate}}</ion-select-option>
            <ion-select-option value="paypal" *ngIf="paymentBraintree">{{'Braintree Paypal'|translate}}</ion-select-option>
            <ion-select-option value="card_payment" *ngIf="paymentBraintree">{{'Braintree Card Payment'|translate}}</ion-select-option>
            <ion-select-option value="stripe" *ngIf="paymentStripe">{{'Stripe Card Payment'|translate}}</ion-select-option>
            <ion-select-option value="cash_on_delivery" *ngIf="paymentCod">{{'Cash on Delivery'|translate}}</ion-select-option> -->
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <div class="braintree-paypal" [class.hidden]="orderDetail.payment_method!='braintree_paypal'">
    <div id="paypal-container"></div>
  </div>

  <div class="braintree-card" [class.hidden]="orderDetail.payment_method!='braintree_card'">
    <form id="braintree-form" class="form" #brainForm="ngForm">
      <div id="error-message"></div>
      <label class="hosted-fields--label" for="card-number" translate>{{'Card Number'|translate}}</label>
      <div class="hosted-field form-control" id="card-number" value="4111111111111111"></div>

      <label class="hosted-fields--label" for="cvv" value="123">CVV</label>
      <div class="hosted-field form-control" id="cvv"></div>

      <label class="hosted-fields--label" for="expiration-date" translate>{{'Expiration Date'|translate}}</label>
      <div class="hosted-field form-control" id="expiration-date" value="10/2019"></div>

      <input type="hidden" name="payment-method-nonce">
      <ion-button expand="full" color="secondary" type="submit" id="braintreesubmit" disabled>
        {{'Continue'|translate}}</ion-button>
    </form>
  </div>

  <div class="stripe-card" *ngIf="orderDetail.payment_method=='stripe'">
    <form #stripeForm="ngForm" (ngSubmit)="stripePayment()">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item>
              <ion-input type="number" name="number" placeholder="{{'Card Number'|translate}}"
                [(ngModel)]="stripeCard.number" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{'Expire Month'|translate}}</ion-label>
              <ion-select name="expMonth" [(ngModel)]="stripeCard.expMonth" required>
                <ion-select-option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{n}}">{{n}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>{{'Expire Year'|translate}}</ion-label>
              <ion-select name="expYear" [(ngModel)]="stripeCard.expYear" required>
                <ion-select-option
                  *ngFor="let n of [2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033]"
                  value="{{n}}">{{n}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-input type="number" name="cvc" placeholder="{{'CVC'|translate}}" [(ngModel)]="stripeCard.cvc"
                required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" color="secondary" type="submit" [disabled]="!stripeForm.form.valid">
            {{'Continue'|translate}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <!-- new payment method hyperpay  -->
  <div class="stripe-card" *ngIf="orderDetail.payment_method=='hyperpay' || orderDetail.payment_method=='cybersource'">
    <form #card="ngForm" (ngSubmit)="hyperpayPayment()">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item>
              <ion-input type="number" name="number" placeholder="{{'Card Number'|translate}}"
                [(ngModel)]="orderDetail.account_number" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{'Expire Month'|translate}}</ion-label>
              <ion-select name="expMonth" [(ngModel)]="orderDetail.expiration_month" required>
                <ion-select-option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{n}}">{{n}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>{{'Expire Year'|translate}}</ion-label>
              <ion-select name="expYear" [(ngModel)]="orderDetail.expiration_year" required>
                <ion-select-option
                  *ngFor="let n of [2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033]"
                  value="{{n}}">{{n}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-input type="number" name="cvc" placeholder="{{'CVC'|translate}}" [(ngModel)]="orderDetail.cvv2"
                required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" color="secondary" type="submit" [disabled]="!card.form.valid">
            {{'Continue'|translate}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <ion-button expand="full" class="button-footer" color="secondary" (click)="paypalPayment()"
    *ngIf="orderDetail.payment_method=='paypal'">{{'Continue'|translate}}</ion-button>
  <ion-button expand="full" class="button-footer" color="secondary" (click)="addOrder()"
    *ngIf="orderDetail.payment_method=='cod'">{{'Continue'|translate}}</ion-button>
  <!-- <ion-button expand="full" class="button-footer" color="secondary" (click)="instamojoPayment()"
    *ngIf="orderDetail.payment_method=='instamojo'">{{'Continue'|translate}}</ion-button> -->



</ion-content>