<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'Account'| translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="share()" *ngIf="showOption('sharePage')">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="rateUs()" *ngIf="showOption('ratePage')">
        <ion-icon slot="icon-only" name="star-half"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="setting-page">

  <ion-grid class="ion-padding">
    <ion-row size="12">
      <ion-col class="ion-no-padding" *ngIf="shared.customerData.customers_id!=null">
        <ion-avatar>
          <div id="nametxt">{{getNameFirstLetter()}}</div>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shared.customerData.customers_id==null" (click)="openLoginPage()">
      <ion-col class="ion-no-padding">
        <ion-avatar>
          <img src="assets/avatar.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <h2>{{ 'Login & Register' | translate }}</h2>
        <p>{{ 'Please login or create an account for free' | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shared.customerData.customers_id!=null">
      <ion-col size="12" class="ion-no-padding">
        <h2>{{shared.customerData.customers_firstname +"&nbsp;"+shared.customerData.customers_lastname}}</h2>
        <p>{{shared.customerData.email}}</p>
        <ion-button (click)="openAccountPage()">{{'Edit Profile' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <span class="opacity-background"></span>
  </ion-grid>
  <ion-list class="ion-padding">
    <ion-item lines="none">
      <ion-label>
        <p>{{"Turn on/off Notifications"|translate}}</p>
      </ion-label>
      <ion-toggle [(ngModel)]="setting.notification" (ionChange)="onOffPushNotification()">
      </ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list class="ion-padding">
    <ion-item lines="full" (click)="showModal('language')">
      <ion-label>
        <p>{{"Change Language"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="globe"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openCurrencyPage()">
      <ion-label>
        <p>{{"Select Currency"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="logo-usd"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('wish-list')" *ngIf="showOption('wishListPage')">
      <ion-label>
        <p>{{"My Wish List"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="heart"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('my-account')" *ngIf="showOption('editPage')">
      <ion-label>
        <p>{{"Edit Profile"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="lock"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('addresses')" *ngIf="showOption('address')">
      <ion-label>
        <p>{{"Address"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="locate"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('my-orders')" *ngIf="showOption('myOrdersPage')">
      <ion-label>
        <p>{{"My Orders"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('contact-us')" *ngIf="showOption('contactPage')">
      <ion-label>
        <p>{{"Contact Us"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="call"></ion-icon>
    </ion-item>
   <!--  <ion-item lines="full" (click)="openPage('about-us')" *ngIf="showOption('aboutUsPage')">
      <ion-label>
        <p><a>{{"About Us"|translate}}</a></p>
      </ion-label>
      <ion-icon slot="end" name="information-circle"></ion-icon>
    </ion-item> -->
   <!--  <ion-item lines="full" (click)="openPage('news')" *ngIf="showOption('newsPage')">
      <ion-label>
        <p>{{"News"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="paper"></ion-icon>
    </ion-item>
 -->
    <!-- <ion-item lines="full" (click)="openPage('intro')" *ngIf="showOption('introPage')">
      <ion-label>
        <p>{{"Intro"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="play"></ion-icon>
    </ion-item> -->
    <!-- <ion-item lines="full" (click)="openSite()">
      <ion-label>
        <p>{{"Official Website"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="showModal('privacyPolicy')">
      <ion-label>
        <p>{{"Privacy Policy"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="showModal('refundPolicy')">
      <ion-label>
        <p>{{"Refund Policy"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="showModal('termServices')">
      <ion-label>
        <p>{{"Term and Services"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item> -->
    <!-- <ion-item lines="full" (click)="rateUs()" *ngIf="showOption('ratePage')">
      <ion-label>
        <p>{{"Rate Us"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="share()" *ngIf="showOption('sharePage')">
      <ion-label>
        <p>{{"Share"|translate}}</p>
      </ion-label>
      <ion-icon slot="end" name="share"></ion-icon>
    </ion-item> -->
  </ion-list>
</ion-content>

<ion-footer *ngIf="shared.customerData.customers_id!=null">
  <ion-button expand="full" color="secondary" (click)="logOut()">{{'Log Out' | translate }}</ion-button>
</ion-footer>